input{
			margin-top:4px;
			border-radius:5 5 5 5;
		}
		textarea{margin-top:4px;}
		a{text-decoration:none}
		div#login{margin-left: 500px; margin-top: 300px;}
		body{background:#39978c}
		fieldset{background:#BADDD9; 
			border-radius:20 20 20 20;
		}
		.link_cadastrar{float:right; margin-top:6px;}