div#content{
			width: 500px;
			height:320px;
			background-image: url(cadastro.jpg);
			background-repeat: no-repeat;
			}
			div#content input{
				margin-top:5px;
				float: left;
				border-radius: 5 5 5 5;
			}
			.formuluario{
				float:right;
				width: 200px;				
				height: 200px;	
										
			}
			h1{font-size:14px;font-family: 'Petit Formal Script', cursive;}		
			fieldset{
			background-color: gray;
			border-radius: 20 20 20 20;
			}
			body{background-color: #999696;}

